/* General set */

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500&display=swap");

* {
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
}
body {
    background-color: #080b10;
    color: white;
}

/* End */

/* Header */

.header {
    background: rgba(8, 11, 16, 1);
    color: #fff;
    width: 100%;
    height: 80px;
    text-align: center;
    text-transform: uppercase;
    z-index: 1000;
    position: fixed;
}
.logo {
    font-size: 30px;
    font-weight: bolder;
    color: #fff;
    margin-top: 20px;
    float: left;
}
.logo i {
    color: #de4f61;
    margin-left: 80px;
    text-decoration: none;
}
.navbar a {
    display: inline-block;
    font-size: 20px;
    margin-top: 30px;
    margin-left: 35px;
    color: #fff;
    text-decoration: none;
}

/* End */


/* Home */

.home{
    height: 100vh;
    background: url(../images/home.jpg) no-repeat;
    background-size: cover;
    position: relative;  
}
.home .content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%  ,-50% );
    align-items: center;
    display: inline-block;
    width:65%;
}
.home .content h3{
    color: white;
    text-transform: uppercase;
    font-size: 48px;
    margin: 10px;
}
.home .content h3 span{
    color: #de4f61;
    text-transform: uppercase;
}
.home .content p{
    color: white;
    font-size: 18px;
    margin: 10px;
    letter-spacing: 1.5px;
    line-height: 1.6px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
    text-transform:none;
    padding-left: 70px;
}
.btn{
    display: inline-block;
    background-color: #de4f61;
    color: white;
    font-size: 27px;
    margin-top: 16px;
    padding: 11px 48px;
    border-radius: 80px;
    position: relative;
    z-index: 0;
    overflow: hidden;
    margin-left: 90px;
}
.clear{
    clear: both;
}

/* end */


/* About */

.main-about{
    padding: 20px;
}
.ab-header ,.se-header ,.price-header .team-header{
    padding: 5rem 7%;
}
.ab-title ,.por-header ,.se-header{
    color: white;
}
.ab-header h1{
    text-align: center;
    font-size: 50px;
}
hr{
    width: 160px;
    height: 5px;
    margin-top: 10px;
    background-color: #de4f61;
    border-radius: 20px;
    margin-left: 560px;
}
.ab-div{
    width: 80%;
    margin: auto;
}
.ab-content{
    overflow: hidden;
}
.ab-item {
    float: left;
    width: 31%;
    height: 250px;
    text-align: center;
    border: 1px solid #ffffff;
    border-radius: 30px;
    padding: 20px 5px;
    margin: 0px 12px;
    position: relative;
}
.icons{
    color: #de4f61;
    line-height: 50px;
    margin-bottom: 10px;
    font-size: 50px;
    
}
.title {
    margin-bottom: 15px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 28px;
}
.ab-item p {
    line-height: 22px;
    font-size: 18px;
    margin-bottom: 15px;
    color:#e14a5f;
    margin-bottom: 30px;
    letter-spacing: .4px;
}
.ab-item a {
    color: #fff;
    text-transform: capitalize;
    font-size: 20px;
}

/* end */


/* Portfolio */
.portfolio {
    width: 100%;
    height: 700px;
    padding-top: 80px;
}
.por-header{
    margin-top: 110px;
    margin-bottom: 50px;
    font-size: 30px;
    text-align: center;
}
.hr2 {
    width: 230px;
    margin-left: 645px;
}
.portfolio .container {
    width: 1300px;
    margin: 0 auto;
}
.por-content {
    overflow: hidden;
}
.por-item {
    width: 30%;
    margin-left: 30px; 
    margin-bottom: 20px;
    position: relative;
    float: left;
    padding:10px;
    border-radius: 5px;
}
.por-item img {
    width: 100%;
    border-radius: 50px;
    display: block;
    
}
.portfolio .ly-content {
    position: absolute;
    padding-top: 60px;
    top: 0;
    left: 0;   
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    text-align: center;
    border-radius: 50px;
    background-color: rgba(0,0,0,0.7);
    visibility: hidden;
    font-size: larger;
}
.ly-content i{
    color: #de4f61;
    margin-top: 10px;
    padding-top: 8px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 0.1rem solid #de4f61;
}
.side{
    display: inline-block;
    padding-top: 20px;
}

/* end */


/* Services */
.main-services{
    margin: 20px;
}
.se-header h1{
    text-align: center;
    font-size: 50px;
}
.services {
    margin-top: 300px;
}
.se-container{
    width: 80%;
    margin: auto;
}
.side2{
    overflow: hidden;
}
.se-box {
    border: 0.1rem solid rgba(255, 255, 255, .2);
    border-radius: 30px;
    float: left;
    width: 30%;
    padding: 25px 10px;
    margin: 10px 15px;
    position: relative;
}
.se-box .icons{
    margin-left: 1rem;
    position: absolute;
    left: 20px;
    top: 26px;
}
.se-box h3 {
    font-size: 2.5rem;
    text-align: center;
    margin: 10px 0 20px 0;
}
.se-box p{
    width: 300px;
    margin:auto ;
    line-height: 1.5;
}

/* end */


/* About Us*/

.about-left {
    /* height: 600px; */
    width: 600px;
    float: left;
    margin-top: 300px;
    margin-left: 50px;
}
.about-right {
    float: right;
    width: 400px;
    margin-right: 300px;
    margin-top: 300px;
}
.about-right img{

    width: 600px;
    height: 400px;
}
.circle ul{
    width: 100px;
    margin: 10px 250px;

}
.circle li{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #de4f61;
    display: inline-block;
    margin: 10px;
}
.about-text span{
    font-size: 40px; 
    color: white;
    font-weight: 600;
}
.about-text h3{
    font-size: 30px; 
    font-weight: 500;
    color: #de4f61;
    padding: 16px 0;
}
.about-text hr{
    width: 160px;
    margin-left: 65px;
}
.about-text p{
    font-size: 20px;
    color: rgb(216, 216, 216);
    padding: 16px 0;
    line-height: 1;
}
.about-text ul li{
    font-size: 20px;
    color: white;
    padding-top: 5px;
}
.about-text ul li i {
    color: #de4f61;
    padding-right: 16px;
}

/* end */


/* Counter */

.main-counter {
    margin-top: 60rem;
    position: relative;
    background: url(../images/bg2.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 360px;
}
.co-container{
    position: absolute;
    width: 100%;
    height: 360px;
    background-color: rgba(0,0,0,0.5);
}
.co-content{
    text-align: center;
    width: 20%;
    float: left;
    margin-left: 50px;
    margin-top: 25px;
}
.co-content h3{
    font-size: 40px;
    color: white;
    margin-left: 20px;
}
.co-content p{
    color: white;
    font-size: 30px;
    margin-left: 20px;
}
.co-content .icons{
    margin-top: 48px;
    margin-left: 20px;
}

/* end */


/* Pricing */
.main-pricing {
    padding: 20px;
}
.price-header{
    padding: 5rem 7%;
}
.price-header h1{
    text-align: center;
    font-size: 50px;
}
.price-container{
    display: inline-block;
    margin-top: 32px;
}
.price-m-box {
    float: left;
    margin: 0px 25px 20px 30px;
    position: relative;
}
.price-box{
    padding: 32px;
    text-align: center;
    border: 0.1rem solid rgba(255, 255, 255, .2);
    border-radius: 8px;
    width: 100%;
}
.price-box h3{
    font-size: 32px;
    color: #de4f61;
}
.price-box .price{
    width: 160px;
    height: 160px;
    border: 2px solid #de4f61;
    font-size: 40px;
    margin: 20px auto;
    padding: 48px 0;
    font-weight: bold;
    border-radius: 50%;
}
.price-box .price span {
    font-size: 32px;
    font-weight: normal;
}
.price-box .month {
    font-size: 32px;
    color: #666;
}
.price-box .list {
    padding: 16px 0;
}
.price-box .list p {
    font-size: 27.2px;
    color: #ccc;
    line-height: 32px;
}
.price-box .list p i {
    color: #de4f61;
    padding-right: 8px;
}
.price-box .list p i.fa-times {
    color: #de4f61;
}
.btn {
    padding: 20px 20px;
    font-size: 24px;
    margin-top: 16px;
    margin-right: 50px;
}

/* end */


/* Team1 */

.main-team1{
    position: relative;
    background-image: url(../images/bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    height: 350px;
    margin-top: 150px;
}
.team1-div1{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.2);
}
.team1-div2{
    width: 80%;
    margin: auto;
}
.team1-div3{
    overflow: hidden;
    width: 90%;
    margin: auto;  
}
.team-div4{
    float: left;
    width: 50%;
    color: #fff;
    margin-bottom: 110px;
}
.team-cont{
    padding: 90px 20px 10px 150px;
    position: relative;
    line-height: 1.4;
    margin-bottom: 20px;
}
.team-title{
    padding-top: 10px;
    line-height: 1.5;
    margin-left: 75px;
    font-size: 20px;
}
.team-img{
    position: absolute;
    top: 82px;
    left: 65px;
    border-radius: 50%;
    width:80px;
    height:80px;
}
.right{
    margin-left: 10px;
}

/* End */


/* Team */

.team{
    padding: 5rem 7%;
}
.team .heading {
    font-size: 50px;
    color: white;
    padding-top: 16px;
    margin-bottom: 50px;
    text-align: center;
    font-weight: bolder;
}
.hr4 {
    width: 130px;
    margin-top: -38px;
    margin-left: 585px;
    margin-bottom: 80px;
}
.team-box {
    text-align: center;
    width: 33%;
    display: inline-block;
    position: relative;
}
.team-box .image img {
    width: 100%;
}
.team-box .content {
    padding: 4rem;
    position: absolute;
    top: 0;
    width: 100%;
    height: 95%;
    background-color: rgba(0, 0, 0, 0.7);
    transition: 2s;
    visibility: hidden;
    opacity: 0;
}
.team-box .content h3 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}
.team-box .content p {
    font-size: 1.7rem;
    margin-bottom: 1.5rem;
}
.team-box .content .share i {
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border: 0.1rem solid #de4f61;
    color: #de4f61;
    font-size: 2rem;
    border-radius: 5rem;
    margin-left: 0.5rem;
}

/* End */


/* Blog */

.main-blog {
    padding: 20px;
}
.blog-header{
    padding: 5rem 7%;
}
.blog-header h1{
    text-align: center;
    font-size: 40px;
}
.blog-header hr{
    margin-left: 610px;
    width: 90px;
}
.blog-container {
    width: 80%;
    margin: auto;
}
.blog-content{
    overflow: hidden;
}
.blog-box {
    border: 0.1rem solid rgba(255, 255, 255, .2);
    border-radius: 30px;
    float: left;
    width: 32%;
    margin: 0px 5px 0px 10px;
    position: relative;
}
.blog-img img {
    width: 95%;
    height: 20rem;
    border: 0.1rem solid rgba(255, 255, 255, .2);
    border-radius: 30px;
    margin-left: 11px;
    margin-top: 11px;
}
.blog-icons-co {
    padding: 25px;
}
.blog-icons {
    margin-bottom: 10px;
}
.blog-icons li {
    display: inline-block;
    margin-right: 20px;
    color: #de4f61;
}
.blog-icons span {
    margin-left: 5px;
    color: white;
}
.t-bt {
    font-size: 24px;
    margin-bottom: 10px;
    color: #de4f61;
}
.t-bd {
    font-size: 16px;
    color: #c9adad;
    line-height: 1.5;
    margin-bottom: 20px;
}

/* End */


/* Footer */

.line{
    margin-top: 7rem;
    margin-bottom: 4rem;
    border: 0.1rem solid rgba(255, 255, 255, .2);
}
.footer-container{
    text-align: center;
}
.footer-b h3{
    font-size: 3.5rem;
    color: #de4f61;
}
.footer-share{
    padding-top: 1rem;
    text-align: center;
}
.footer-share a{
    font-size: 2rem;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    color: #de4f61;
    border: .1rem solid #de4f61;;
    margin: .3rem;
    border-radius: 50%;
}
.credit{
    font-size: 2rem;
    margin-top: 2.5rem;
    padding: 1rem;
    padding-top: 2rem;
    text-align: center;
    color: white;
}
.credit span{
    color: #de4f61;
}

/* End */















/* Hover & After - Before */

/* Home */
.logo:hover {
    color: #de4f61;
}
.navbar a:hover{
    color: #de4f61;
}
.btn:hover{
    color: #de4f61;
    background-color: white;
    font-weight: bolder;
}
/* End */
/* About */
.ab-item:hover .ab-item {
    opacity: 1;
    visibility: visible;
}
.ab-item::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(225, 74, 95, 1);
    opacity: 3;
    transition: 2s;
}
.ab-item:hover::after {
    width: 100%;
    height: 100%;
    opacity: 1;
    background-color: rgba(5, 5, 5, 0.2);
    transition: 2s;
    content: "";
}
.ab-item:hover {
    z-index: 1;
    color: white;
    line-height: 40px;
}
.ab-item:hover .title,
.ab-item:hover p {
    color: white;
}
/* End */
/* Portfolio */
.por-item:hover .ly-content {
    opacity:1;
    visibility: visible;
}
.por-item::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(225, 74, 95, 1);
    opacity: 3;
    transition: 2s;
}
.por-item:hover::after {
    width: 100%;
    height: 100%;
    opacity: 1;
    color: white;
    background-color: rgba(5, 5, 5, 0.2);
    transition: 2s;
    content: "";
}
.por-item:hover {
    z-index: 1;
    color: white;
    line-height: 40px;
}
/* End */
/* Services */
.se-box:hover .content {
    opacity: 1;
    visibility: visible;
}
.se-box::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(225, 74, 95, 1);
    opacity: 3;
    transition: 2s;
}
.se-box:hover::after {
    width: 100%;
    height: 100%;
    opacity: 1;
    background-color: rgba(5, 5, 5, 0.2);
    transition: 2s;
    content: "";
}
.se-box:hover {
    z-index: 1;
    color: white;
    line-height: 60px;
}
.se-box:hover .title,
.se-box:hover p {
    color: white;
}
/* End */
/* About Us*/
.circle li:hover{
    background-color: white;
}

/* End */
/* Pricing */
.price-m-box:hover .price-box {
    opacity: 3;
    visibility: visible;
}
.price-m-box::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(225, 74, 95, 1);
    opacity: 3;
    transition: 2s;
}
.price-m-box:hover::after {
    width: 100%;
    height: 100%;
    opacity: 1;
    background-color: rgba(5, 5, 5, 0.2);
    transition: 2s;
    content: "";
}
.price-m-box:hover {
    z-index: 1;
    color: white;
    line-height: 50px;
}
.price-m-box:hover .title,
.price-m-box:hover p {
    color: white;
}
/* End */
/* Team */
.team-box:hover .content {
    opacity: 1;
    visibility: visible;
}
.team-box::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(5, 5, 5);
    opacity: 3;
    transition: 2s;
}
.team-box:hover::after {
    width: 100%;
    height: 100%;
    opacity: 1;
    color: white;
    background-color: rgba(5, 5, 5, 0.1);
    transition: 2s;
    content: "";
}
.team-box:hover {
    z-index: 1;
}
/* End */
/* Blog */
.blog-box:hover .blog-box {
    opacity: 1;
    visibility: visible;
}
.blog-box::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(225, 74, 95, 1);
    opacity: 3;
    transition: 2s;
}
.blog-box:hover::after {
    content: "";
    width: 100%;
    height: 100%;
    opacity: 1;
    background-color: rgba(5, 5, 5, 0.2);
    transition: 2s;
    
}
.blog-box:hover {
    z-index: 1;
    color: white;
    line-height: 50px;
}
.blog-box:hover p {
    color: white;
}
/* End */
/* Footer */
.footer-b h3:hover{
    color: white;
}
.footer-b h3 i:hover{
    color: #de4f61;
}
.footer-share a:hover{
    color: white;
    border-color: white;
}
.credit span:hover{
    color: white;
}

/* End */